<% provide(:title, "Login")%>
<% provide(:button_text, 'Login') %>
<% provide(:header, 'Log In') %>
<div class="row">
  <div class="col-md-7 col-md-offset-2">
    <!-- Login Form -->
    <%= render 'form' %>
  </div>
</div>
