<li class="list-group-item">
    <%= link_to user.user_id, edit_user_path(user) %>
    <% if user.is_admin? %>
        <span class="badge">
            Admin
        </span>
    <% else %>
        <span class="badge back-warning">
            <%= link_to "Delete", user, method: :delete,
                        data: {confirm:"Do you want to delete #{user.user_id}"},
                        class: "back-warning" %>
        </span>
    <% end %>

</li>
