<li class="list-group-item">
    <%= link_to user.user_id, edit_user_path(user) %>
    <% if user.is_admin? %>
        <span class="badge">
            Admin
        </span>
    <% else %>
        <% if !user.active_user? && !user.login_role %>
            <span class="badge back-warning">
                    <%= link_to "Delete", user, method: :delete,
                                data: {confirm:"Do you want to delete #{user.user_id}"},
                                class: "back-warning" %>
            </span>
            <% @enable = "Enable" %>
        <% else %>
            <% @enable = "Disable" %>
        <% end %>
        <span class="badge">
            <%= link_to @enable, user, method: :toggle_active, style:"color:white" %>
        </span>
    <% end %>
</li>
