<% provide(:title, 'Create User') %>
<% provide(:button_text, 'Create') %>
<% provide(:header, 'Create New User') %>
<div class="row">
  <div class="col-md-7 col-md-offset-2">
    <%= render 'form' %>
  </div>
</div>
