<% provide(:title, 'Create User') %>
<% provide(:button_text, 'Create') %>
<div class="row">
  <div class="col-md-7 col-md-offset-2">
    <div class="page-header">
      <center><h2>Create New User</h2></center>
    </div>
    <%= render 'form' %>
  </div>
</div>
