<% if object.errors.any? %>
  <div class="alert alert-danger">
    There <%= object.errors.count > 1 ? 'are' : 'is' %> <%= pluralize(object.errors.count, "error") %>.
  </div>
  <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li style="color: red"><%= msg %></li>
    <% end %>
  </ul>
<% end %>
