<% @order_seasons.each do |season| %>
    <li class="list-group-item">
        <%= link_to season.order_season_name, edit_order_season_path(season.order_season_id) %>
        <% if season.current_season? %>
            <span class="badge">
                Active Season
            </span>
        <% else %>
            <span class="badge back-warning">
                <%= link_to "Delete", season, method: :delete,
                            data: {confirm:"Do you want to delete #{season.order_season_name}"},
                            class: "back-warning" %>
            </span>
        <% end %>
    </li>
<% end %>
