<%
    provide(:title, "Orders for #{@order_season.order_season_name}")
    provide(:header, "Orders for #{@order_season.order_season_name}")
%>
<div>
    <div class='form-inline'>
    <strong>Season: </strong>
        <%= collection_select(:order_season, :order_season_id, @order_seasons.order(:order_season_name),
            :order_season_id, :order_season_name, {include_blank: true}, {class: 'form-control'}) %>
    </div>
</div>
<br/>
<table id="orders">
    <thead>
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Phone Number</th>
            <th>Product</th>
            <th>Size</th>
            <th>Style</th>
            <th>Picked Up</th>
            <th>Manage</th>
        </tr>
    </thead>
    <tbody>
        <%= render @orders %>
    </tbody>
</table>
