@import "bootstrap-sprockets";
@import "bootstrap";

.back-warning {
  background-color: #b94a48;
  color: white;
}
.back-warning:hover {
  background-color: #953b39;
  color: white;
}

.submit-style {
    background-color: #2b543b;
    border-color: black;
    width: 100%;
}

.centered {
    margin:auto;
}

.topButton {
    display:none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: none;
    cursor: pointer;
    padding: 5px;
    padding-top: 8px;
    padding-right: 6px;
    border-radius: 4px;
}

.button-style {
    background-color: #2b543b;
    border-color: transparent;
    color: white;
    border-radius: 8px;
}

.hidden-text {
    display: none;
}

.checkbox-control {
    vertical-align: middle;
}

.background-color {
    background-color: #2b543b;
}

.background-color:hover {
    background-color: #489165;
}

.green-hover:hover {
    background-color: #489165;
}

.thumbnail:hover {
    background-color: #f2f2f2;
}

.right-border {
    border-right: 1px solid #000;
    padding-right: 20px;
}

.orders tr:nth-child(even) {
    background-color: #f2f2f2;
}

.order-breakdown td, .order-breakdown th {
    padding-right: 10px;
}

.order-breakdown td {
    text-align: center;
}

.order-breakdown .item {
    border-right: 1px solid;
}

.order-breakdown .header{
    background-color: #f2f2f2;
    border-bottom: 1px solid;
}

.border-between > [class*='col-']:before {
   background: #e3e3e3;
   bottom: 0;
   content: " ";
   left: 0;
   position: absolute;
   width: 1px;
   top: 0;
}

.border-between > [class*='col-']:first-child:before {
   display: none;
}
