@import "bootstrap-sprockets";
@import "bootstrap";

.back-warning {
  background-color: #b94a48;
  color: white;
}
.back-warning:hover {
  background-color: #953b39;
  color: white;
}

.submit-style {
    background-color: #2b543b;
    border-color: black;
    width: 100%;
}

.hidden-text {
    display: none;
}

.checkbox-control {
    vertical-align: middle;
}

.background-color {
    background-color: #2b543b;
}
