<%= form_for @product_size, :html => {:class => "form-horizontal center"} do |x| %>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">
                <strong>Selectable </strong>
                <%= x.check_box :active_size, class: 'checkbox-control'%>
            </span>
            <%= x.text_field :size, class: 'form-control', placeholder: "Product Size", multiple: true %>
        </div>
    </div>
<% end %>
