<li class="list-group-item">
    <%= link_to product.product_name, edit_product_path(product) %>
    <span class="badge back-warning">
        <%= link_to "Delete", product, method: :delete,
                    data: {confirm:"Do you want to delete #{product.product_name}?" +
                                    "\nThis will delete all orders, sizes, and styles related to this product!"},
                    class: "back-warning" %>
    </span>
</li>
