<% @product_style.each do |x| %>
    <div class="list-group-item">
        <span>
            <%if x.active_style? %>
                Selectable
            <% else %>
                Non-Selectable
            <% end %>
            <%= link_to x, method: :toggle do %>
                <button type='button' class='button-style'>Toggle</button>
            <% end %>
        </span>
        |
        <%= x.product_style_name %>
        <span class="badge back-warning">
            <%= link_to "Delete", x, method: :delete,
                data: {confirm:"Do you want to delete #{x.product_style_name}"},
                class: "back-warning" %>
        </span>
    </div>
<% end %>
