<% @product_style.each do |x| %>
    <div class="list-group-item">
        <%= x.product_style_name %>
        <span class="badge back-warning">
            <%= link_to "Delete", x, method: :delete,
                data: {confirm:"Do you want to delete #{x.product_style_name}"},
                class: "back-warning" %>
        </span>
    </div>
<% end %>
